# Carregando bibliotecas

In [1]:
#importar bibliotecas 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# Carregando bases

In [2]:
df = pd.read_csv('../estaticos_market_1.csv')

# Verificano a tabela

In [3]:
df.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

# Verificando dados nulos

In [4]:
df.isnull()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
5,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
6,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
7,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
8,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
9,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
10,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
15,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
16,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
17,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
20,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
21,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
22,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
23,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
24,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
25,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
28,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
29,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462268,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462269,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462270,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462271,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462272,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462273,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462274,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462275,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462276,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462277,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,True,False,False
462278,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462279,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462280,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462281,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462282,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462283,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462284,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462285,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462286,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462287,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462288,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462289,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462290,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,True,False,False
462291,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
462292,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
462293,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462294,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,True,False,False
462295,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
462296,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
462297,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False

In [5]:
df.isnull().mean()

Unnamed: 0                                       0.000000
id                                               0.000000
fl_matriz                                        0.000000
de_natureza_juridica                             0.000000
sg_uf                                            0.000000
natureza_juridica_macro                          0.000000
de_ramo                                          0.000000
setor                                            0.004168
idade_empresa_anos                               0.000000
idade_emp_cat                                    0.000000
fl_me                                            0.000000
fl_sa                                            0.000000
fl_epp                                           0.000000
fl_mei                                           0.000000
fl_ltda                                          0.000000
dt_situacao                                      0.000013
fl_st_especial                                   0.000000
fl_email                                         0.000000
fl_telefone                                      0.000000
fl_rm                                            0.000000
nm_divisao                                       0.004168
nm_segmento                                      0.004168
fl_spa                                           0.004168
fl_antt                                          0.004168
fl_veiculo                                       0.004168
vl_total_tancagem                                0.999394
vl_total_veiculos_antt                           0.999619
vl_total_veiculos_leves                          0.933627
vl_total_veiculos_pesados                        0.933627
fl_optante_simples                               0.178917
                                                   ...
idade_de_34_a_38                                 0.920551
idade_de_39_a_43                                 0.934224
idade_de_44_a_48                                 0.947458
idade_de_49_a_53                                 0.958821
idade_de_54_a_58                                 0.969771
idade_acima_de_58                                0.976150
grau_instrucao_macro_analfabeto                  0.995925
grau_instrucao_macro_escolaridade_fundamental    0.946147
grau_instrucao_macro_escolaridade_media          0.853348
grau_instrucao_macro_escolaridade_superior       0.950839
grau_instrucao_macro_desconhecido                1.000000
total                                            0.835729
meses_ultima_contratacaco                        0.775958
qt_admitidos_12meses                             0.775958
qt_desligados_12meses                            0.775958
qt_desligados                                    0.775958
qt_admitidos                                     0.775958
media_meses_servicos_all                         0.775989
max_meses_servicos_all                           0.775989
min_meses_servicos_all                           0.775989
media_meses_servicos                             0.835039
max_meses_servicos                               0.835039
min_meses_servicos                               0.835039
qt_funcionarios                                  0.775958
qt_funcionarios_12meses                          0.775958
qt_funcionarios_24meses                          0.775958
tx_crescimento_12meses                           0.840172
tx_crescimento_24meses                           0.839900
tx_rotatividade                                  0.775958
qt_filiais                                       0.000000
Length: 182, dtype: float64

# Limpando os dados

In [6]:
# loc[:, df.isnull().mean() < 0.5] 
# Seleciona apenas os dados com menos de 50% de nulos 
df = df.loc[:, df.isnull().mean() < 0.5]

In [7]:
# Conferindo a quantidade de colunas
df.shape

(462298, 51)

In [35]:
df.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,0.0,44.0,47.0,41.0,2.0,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00",3132172.8,3132172.8,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,0.0,27.0,27.0,27.0,1.0,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.0,210000.0,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,0.0,32.0,32.0,32.0,NaN,"ATE R$ 81.000,00","ATE R$ 81.000,00",50000.0,50000.0,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,0.0,36.0,36.0,36.0,1.0,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.0,210000.0,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,0.0,NaN,NaN,NaN,NaN,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.0,210000.0,0

In [8]:
# Dropar Colunas 
# (coluna, inplace = True = Data frame original, axis = 1 deve ser aplicado na coluna)  
#data.drop('Coluna', inplace=True, axis=1)

In [9]:
# Verificando se há valores duplicados
df.duplicated().sum()

0

# Categorizando as features remanescentes - 49 variáveis

>## Informações Cadastrais - 12 Variáveis

| Coluna                                | Percentual | Descrição                                   | Anotações                             |
|---------------------------------------|------------|---------------------------------------------|---------------------------------------|
| fl_matriz                             | 0%         | Verdadeiro se o CNPJ corresponder a matriz  |                                       |
| de_natureza_juridica                  | 0%         | Carрter da natureza jurьdica                | LTDA, SA,  Empresario individual      |
| SG_UF                                 | 0%         | Estado da companhia                         | Estado geogrрfico                     |
| idade_empresa_anos                    | 0%         | Idade da empresa                            |                                       |
| idade_emp_cat                         | 0%         | intervalo de anos que a empresa possui      |                                       |
| fl_email                              | 0%         | Se hр email registrado na receita           | Pode identificar aptidсo a tecnologia |
| fl_telefone                           | 0%         | Se hр telefone registrado na receita        |                                       |
| fl_rm                                 | 0%         | Indicador de рrea metropolitana             | Indicador de рrea metropolitana       |
| sg_uf_matriz                          | 0%         | Localização da matriz                       |                                       |
| empsetorcensitariofaixarendapopulacao | 31%        | Renda média da região                       |                                       |
| nm_meso_regiao                        | 13%        | Nome da mesorregiсo onde a cia estр alocada |                                       |
| nm_micro_regiao                       | 13%        | Nome da microregiсo onde a cia estр alocada |

> de_natureza_juridica

In [10]:
#df.groupby(['de_natureza_juridica'], as_index= False)['id'].sum()

In [54]:
df['de_natureza_juridica'].nunique()
#Há 67 naturezas distintas nas 462.298 linhas, sendo que há 0 faltantes
# Cabe análise para diminuição da vaiabilidade

67

> sg_uf

In [37]:
df.sg_uf.nunique()
# ótima variável. Variabilidade = 6. 0 dados faltantes

6

> idade_empresa_anos

In [46]:
df['idade_empresa_anos'].describe()

count    462298.000000
mean          9.948677
std           9.615664
min           0.016438
25%           2.756164
50%           6.704110
75%          14.465753
max         106.432877
Name: idade_empresa_anos, dtype: float64

In [52]:
df.fl_rm.nunique()
# Resposta é uma dummy = Sim ou Não

2

> Estatística descritiva inicial: 

        de_natureza_juridica

        sg_uf 

        idade_empresa_anos

        fl_rm  - Indicador de área metropolitana
        
        empsetorcensitariofaixarendapopulacao (31% de missing)

>## Informações financeiras - 20

| Coluna                              | Percentual | Descritivo                                                      | Anotações                           |
|-------------------------------------|------------|----------------------------------------------------------------|-------------------------------------|
| fl_me                               | 0%         | Microempresa Individual                                        | Atж 360 mil reais/ ano              |
| fl_sa                               | 0%         | Sociedade anЗnima                                              | Sociedade grande porte (normalmene) |
| fl_epp                              | 0%         | Empresa de porte pequeno                                       | entre R$ 360 mil e R$ 3,6 milhшes   |
| fl_mei                              | 0%         | Microempreendedor Individual                                   | Atж 60 mil reais/ ano               |
| fl_ltda                             | 0%         | Limitada                                                       | Sociedade mжdio porte (normalmente) |
| dt_situacao                         | 0%         | Data da situaусo na Receita                                    |                                     |
| fl_st_especial                      | 0%         |                                                                | Falido, em liquidaусo judicial...   |
| fl_optante_simples                  | 18%        | Optante pelo SIMPLES                                       | Correlaусo com a variрvel 14        |
| fl_optante_simei                    | 18%        | Optante pelo SIMEI                                       |                                     |
| de_saude_tributaria                 | 3%         | SE impostos pagos; verde; vermelho                             |                                     |
| de_saude_rescencia                  | 3%         | Tempo de atualizaусo da saude tributaria                       |                                     |
| nu_meses_rescencia                  | 10%        | Número de meses desde a última atualizações de saúde tributária |                                     |
| de_nivel_atividade                  | 2%         | Probabilidade de estar operando                                |                                     |
| fl_simples_irregular                | 0%         | Simples irregular por tipo de atividade ou receita             |                                     |
| fl_passivel_iss                     | 0%         | Verdadeiro caso realize atividades tributрveis                 |                                     |
| de_faixa_faturamento_estimado       | 6%         | Faixa do faturamento estimado                                  |                                     |
| de_faixa_faturamento_estimado_grupo | 6%         | Faixa de faturamento estimado do grupo                         |                                     |
| vl_faturamento_estimado_aux         | 6%         | Valor da receita estimada                                      |                                     |
| vl_faturamento_estimado_grupo_aux   | 6%         | Valor da receita estimada do grupo                             |                                     |
| qt_filiais                          | 0%         | Quantidade de filiais                                          |                                     |

> Variáveis SIMPLES/MEI

In [74]:
df.groupby(by='fl_optante_simples').count() #agg({'id' : np.size})

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_filiais
fl_optante_simples,,,,,,,,,,,,,,,,,,,,,
False,179968,179968,179968,179968,179968,179968,179968,179968,179968,179968,...,117072,97040,97040,97040,95353,178987,178987,178987,178987,179968
True,199617,199617,199617,199617,199617,199617,199617,199617,199617,199617,...,159394,146912,146912,146912,145858,199105,199105,199105,199105,199617

In [92]:
# Verificar quando um optante pode ser simples e MEI => Transformar em apenas uma variável 
df[['fl_me', 'fl_mei', 'fl_sa', 'fl_epp', 'fl_ltda', 'fl_optante_simples', 'fl_optante_simei' ]]

,fl_me,fl_mei,fl_sa,fl_epp,fl_ltda,fl_optante_simples,fl_optante_simei
0,False,False,False,False,False,True,False
1,False,True,False,False,False,NaN,NaN
2,False,True,False,False,False,True,True
3,False,False,False,False,False,True,False
4,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False
6,False,True,False,False,False,True,True
7,False,True,False,False,False,NaN,NaN
8,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False
10,False,True,False,False,False,True,True
11,False,False,False,False,False,True,False
12,False,False,False,False,False,True,False
13,False,False,False,False,False,True,False
14,False,True,False,False,False,True,True
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,True,False,False,False,True,True
18,False,False,False,False,False,True,False
19,False,True,False,False,False,True,True
20,False,False,False,False,False,True,False
21,False,False,False,False,False,True,False
22,False,True,False,False,False,True,True
23,False,False,True,False,False,True,False
24,False,True,False,False,False,True,True
25,False,False,False,False,False,True,False
26,False,False,False,False,False,True,False
27,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
462268,False,True,False,False,False,True,True
462269,False,False,False,False,False,False,False
462270,False,True,False,False,False,True,True
462271,False,True,False,False,False,True,True
462272,False,False,False,False,False,False,False
462273,False,True,False,False,False,True,True
462274,False,True,False,False,False,NaN,NaN
462275,False,False,False,False,False,False,False
462276,False,False,False,False,False,False,False
462277,False,False,False,False,False,True,False
462278,False,False,False,False,False,False,False
462279,False,False,False,False,False,False,False
462280,False,False,False,False,False,False,False
462281,False,False,False,False,False,False,False
462282,False,True,False,False,False,True,True
462283,False,False,False,False,False,False,False
462284,False,False,False,False,False,False,False
462285,False,True,False,False,False,NaN,NaN
462286,False,False,False,False,False,False,False
462287,False,True,False,False,False,True,True
462288,False,False,False,False,False,True,False
462289,False,True,False,False,False,NaN,NaN
462290,False,False,False,False,False,True,False
462291,False,False,False,False,False,True,False
462292,False,False,False,False,False,False,False
462293,False,True,False,False,False,True,True
462294,False,False,False,False,False,False,False
462295,False,False,False,False,False,False,False
462296,False,False,False,False,False,False,False
462297,False,True,False,False,False,NaN,NaN

> Variáveis faturamento

In [165]:
# Pega todos os valores iguais e nulos 
((df['de_faixa_faturamento_estimado'] == df['de_faixa_faturamento_estimado_grupo']) | (df.de_faixa_faturamento_estimado.isnull() & df.de_faixa_faturamento_estimado_grupo.isnull()) ).sum()

427101

In [167]:
df[(df.de_faixa_faturamento_estimado.isnull() & df.de_faixa_faturamento_estimado_grupo.isnull())].sum()

KeyboardInterrupt:

In [161]:
 df[['de_faixa_faturamento_estimado_grupo', 'de_faixa_faturamento_estimado']][(df.de_faixa_faturamento_estimado != df.de_faixa_faturamento_estimado_grupo) & (df.de_faixa_faturamento_estimado.notnull()) & (df.de_faixa_faturamento_estimado_grupo.notnull())]

,de_faixa_faturamento_estimado_grupo,de_faixa_faturamento_estimado
9,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
39,"DE R$ 500.000.000,01 A 1 BILHAO DE REAIS",SEM INFORMACAO
43,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
69,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
79,ACIMA DE 1 BILHAO DE REAIS,"DE R$ 10.000.000,01 A R$ 30.000.000,00"
87,ACIMA DE 1 BILHAO DE REAIS,"DE R$ 81.000,01 A R$ 360.000,00"
111,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 81.000,01 A R$ 360.000,00"
121,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
185,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
217,ACIMA DE 1 BILHAO DE REAIS,"DE R$ 81.000,01 A R$ 360.000,00"
226,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 81.000,01 A R$ 360.000,00"
269,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 81.000,01 A R$ 360.000,00"
307,"DE R$ 81.000,01 A R$ 360.000,00",SEM INFORMACAO
316,"DE R$ 30.000.000,01 A R$ 100.000.000,00","DE R$ 81.000,01 A R$ 360.000,00"
334,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
360,"DE R$ 81.000,01 A R$ 360.000,00","ATE R$ 81.000,00"
365,"DE R$ 10.000.000,01 A R$ 30.000.000,00","DE R$ 81.000,01 A R$ 360.000,00"
402,"DE R$ 300.000.000,01 A R$ 500.000.000,00",SEM INFORMACAO
403,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
419,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00"
428,ACIMA DE 1 BILHAO DE REAIS,"DE R$ 10.000.000,01 A R$ 30.000.000,00"
434,"DE R$ 81.000,01 A R$ 360.000,00",SEM INFORMACAO
441,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
443,ACIMA DE 1 BILHAO DE REAIS,"DE R$ 30.000.000,01 A R$ 100.000.000,00"
451,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
474,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
483,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
485,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
512,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
534,"DE R$ 100.000.000,01 A R$ 300.000.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00"
...,...,...
461945,"DE R$ 10.000.000,01 A R$ 30.000.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
461949,"DE R$ 500.000.000,01 A 1 BILHAO DE REAIS","DE R$ 81.000,01 A R$ 360.000,00"
461960,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 81.000,01 A R$ 360.000,00"
461991,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462004,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462041,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462055,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462064,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462082,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462091,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462102,"DE R$ 30.000.000,01 A R$ 100.000.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00"
462113,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462114,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462116,"DE R$ 500.000.000,01 A 1 BILHAO DE REAIS","DE R$ 81.000,01 A R$ 360.000,00"
462128,"DE R$ 10.000.000,01 A R$ 30.000.000,00","DE R$ 4.800.000,01 A R$ 10.000.000,00"
462134,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462161,ACIMA DE 1 BILHAO DE REAIS,"DE R$ 4.800.000,01 A R$ 10.000.000,00"
462165,"DE R$ 1.500.000,01 A R$ 4.800.000,00","ATE R$ 81.000,00"
462168,"DE R$ 1.500.000,01 A R$ 4.800.000,00",SEM INFORMACAO
462187,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462188,"DE R$ 10.000.000,01 A R$ 30.000.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
462200,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
462207,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
462215,"DE R$ 4.800.000,01 A R$ 10.000.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
462216,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
462227,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462231,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462237,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462244,"DE R$ 30.000.000,01 A R$ 100.000.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462248,"DE R$ 100.000.000,01 A R$ 300.000.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00"

> Quantidade de filiais

In [107]:
#df.groupby(by='qt_filiais').count() #agg({'id' : np.size})
df.qt_filiais.describe()

count    462298.000000
mean         28.737044
std         468.626094
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        9647.000000
Name: qt_filiais, dtype: float64

> ## Informações de veículos - 5

| Coluna                          | Percentual | Descritivo                                         | Anotações                               |
|---------------------------------|------------|---------------------------------------------------|-----------------------------------------|
| fl_spa                          | 0%         | Se a empresa tem seu prзprio posto de combustьvel | Grupo de variрveis setor de transportes |
| fl_antt                         | 0%         | Certificada para fins de transporte               |                                         |
| fl_veiculo                      | 0%         | Se a empresa possuь ao menos um veьculo           |                                         |
| vl_total_veiculos_pesados_grupo | 0%         | Valor dos veьculos leves da empresa               |                                         |
| vl_total_veiculos_leves_grupo   | 0%         | Valor dos veьculos pesados da empresa             |                                         |

> ## Setor de Atuação - 5

| Coluna                  | Percentual | Descritivo                        | Anotações                                                                        |
|-------------------------|------------|----------------------------------|----------------------------------------------------------------------------------|
| natureza_juridica_macro | 0%         | Natureza da empresa              | Administracao publica, cargo politico...                                         |
| de_ramo                 | 0%         | Ramo de atuaусo da empresa       | Verificar o ramo de atuaусo das empresas por portfзlio e verificar similaridades |
| setor                   | 0%         | setor de atuaусo                 | Comercio, serviуo, indЩstria...                                                  |
| nm_divisao              | 0%         | Descriусo da atividade econЗmica | Descriусo mais completa sobre o setor de atuaусo                                 |
| nm_segmento             | 0%         | Descriусo da atividade econЗmica |

> ## Informações dos sócios - 7

| Coluna               | Percentual | Descrição                                | Anotações                        |
|----------------------|------------|------------------------------------------|----------------------------------|
| qt_socios            | 25%        | Quantidade de sзcios                     | Se relaciona com LTDA/AS -> GRP2 |
| qt_socios_pf         | 25%        | Quantidade de sзcios PF                  |                                  |
| qt_socios_pj         | 25%        | Quanidade de sзcios PJ                   |                                  |
| idade_media_socios   | 33%        | Idade mжdia dos sзcios                   |                                  |
| idade_maxima_socios  | 33%        | Idade mрxima dos sзcios                  |                                  |
| idade_minima_socios  | 33%        | Idade mьnima dos sзcios                  |                                  |
| qt_socios_st_regular | 34%        | Quanidade de sзcios regulares na Receita |                                  |