# Garimpagem de Dados
## Aula 1 - Python Básico

04/10/2017

### Nulo

In [1]:
a = None
if a is None:
    print('nulo')

nulo

### Boolean

In [2]:
a = True
b = False
c = True
print(a == b)
print(a == c)

False
True

In [3]:
a, b, c  = True, False, True
print(a == b)
print(a == c)

False
True

### Números

In [4]:
1 + 2

3

In [5]:
type(1)

int

In [6]:
type(1.2)

float

In [7]:
1 // 2

0

In [8]:
1 / 2

0.5

In [9]:
1 / 2.0

0.5

In [10]:
from __future__ import division
1 / 2

0.5

In [11]:
2 ** 3

8

In [12]:
2 ** 0.5

1.4142135623730951

In [13]:
import math
math.sqrt(2)

1.4142135623730951

In [14]:
import random
print(random.random())
print(random.randint(1,10))   # intervalo fechado
print(random.randrange(1,10))

0.8982527915232887
2
7

### Strings

In [15]:
single_quoted_string = 'Data Science'
single_quoted_string

'Data Science'

In [16]:
repr(single_quoted_string)

"'Data Science'"

In [17]:
len(single_quoted_string)

12

In [18]:
type(single_quoted_string)

str

In [19]:
single_quoted_string.upper()

'DATA SCIENCE'

In [20]:
single_quoted_string.lower()

'data science'

In [21]:
str1 = 'Hoje_vai_chover_novamente.'.replace('_', ' ')
print(str1)

Hoje vai chover novamente.

In [22]:
double_quoted_string = "data science"
print(double_quoted_string)
print(repr(double_quoted_string))
double_quoted_string

data science
'data science'

'data science'

In [23]:
tab_string = "\t"        # representa o caracter 'tab'
print(tab_string)
print(repr(tab_string))

'\t'

In [24]:
not_tab_string = r"\t"   # representa os caracteres '\' e 't'
print(not_tab_string)
print(repr(not_tab_string))

\t
'\\t'

In [25]:
multi_line_string = """linha 1.
linha 2
linha 3"""
print(multi_line_string)
print(repr(multi_line_string))

linha 1.
linha 2
linha 3
'linha 1.\nlinha 2\nlinha 3'

In [26]:
'Repete ' * 5

'Repete Repete Repete Repete Repete '

In [27]:
"%d/%d/%d" % (2, 4, 6)

'2/4/6'

In [28]:
"%s/%s/%s" % (2, 4, 6)

'2/4/6'

In [29]:
"{}/{}/{}".format(2, 4, 6)

'2/4/6'

In [30]:
"{:2d}/{:2d}/{:2d}".format(2, 4, 16)

' 2/ 4/16'

In [34]:
"{:02d}/{:02d}/{:02d}".format(2, 4, 16)

'02/04/16'

In [35]:
'{:.2f}'.format(99.8765)

'99.88'

In [38]:
'{:.0f}'.format(99.5765)

'100'

In [39]:
'%05d' % (99)

'00099'

In [40]:
'{:05d}'.format(99)

'00099'

In [41]:
' Hello '.strip()

'Hello'

In [42]:
' Hello '.lstrip()

'Hello '

In [43]:
' Hello '.rstrip()

' Hello'

### Data

In [44]:
from datetime import datetime
import time

inicio = datetime.now()
print(inicio)
for i in range(2):
    time.sleep(1)
fim = datetime.now()
print(fim)
print("Tempo de execução: {}".format(fim - inicio))

2019-03-21 08:13:17.111065
2019-03-21 08:13:19.140280
Tempo de execução: 0:00:02.029215

### Listas
- Mutáveis

In [45]:
lista = [1, 2, 3, 4, 5]
print(lista)

[1, 2, 3, 4, 5]

In [46]:
lista[2]

3

In [47]:
lista[-1] # último elemento

5

In [48]:
lista[1:3]

[2, 3]

In [49]:
a, b = lista[1:3]
a, b

(2, 3)

In [50]:
lista[:3] # 3 primeiros elementos

[1, 2, 3]

In [51]:
lista[-2:] # 2 últimos elementos

[4, 5]

In [52]:
lista[1:-1] # do segundo ao penúltimo elemento

[2, 3, 4]

In [53]:
len(lista)

5

In [54]:
sum(lista)

15

In [55]:
10 in lista

False

In [56]:
5 in lista

True

In [57]:
lista.append(7)
lista.append(6)
lista.append(7)
lista

[1, 2, 3, 4, 5, 7, 6, 7]

In [58]:
lista.remove(7)  # remove o primeiro elemento cujo valor é 7
lista

[1, 2, 3, 4, 5, 6, 7]

In [59]:
lista.extend([8, 9, -10])
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, -10]

In [60]:
lista2 = lista  # lista2 referencia lista
lista2[-1] = 10
print(lista)
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
lista3 = lista[:]  # lista3 é uma nova lista com o mesmo conteúdo de lista
lista3[-1] = -10
print(lista)
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, -10]

In [62]:
print(range(5))

range(0, 5)

In [63]:
print(range(2, 10, 2))

range(2, 10, 2)

In [64]:
print(range(5, 0, -1))

range(5, 0, -1)

In [65]:
lista4 = [-4, 1, -2, 3]
print(sorted(lista4)) # ordena sem alterar a lista
print(sorted(lista4, reverse=True))
print(sorted(lista4, key=abs))
print(lista4)

[-4, -2, 1, 3]
[3, 1, -2, -4]
[1, -2, 3, -4]
[-4, 1, -2, 3]

In [66]:
lista4.sort() # altera a lista original
print(lista4)

[-4, -2, 1, 3]

In [67]:
a = ['a', 'casa', 'está', 'muito', 'bem', 'organizada']
print(' '.join(a))

a casa está muito bem organizada

In [68]:
import random
random.shuffle(a)
print(a)
random.shuffle(a)
print(a)

['está', 'organizada', 'a', 'muito', 'bem', 'casa']
['casa', 'muito', 'bem', 'está', 'a', 'organizada']

In [69]:
random.choice(a) # com repetição

'organizada'

In [71]:
# Loteria
numeros = range(1, 100)
random.sample(numeros, 5) # sem repetição

[68, 5, 2, 22, 79]

### List Comprehensions

In [72]:
quadrados = [x * x for x in range(5)]
print(quadrados)

[0, 1, 4, 9, 16]

In [73]:
# conta quantos elementos da lista são maiores que 4
sum([1 for x in quadrados if x > 4])

2

### Matrizes

In [74]:
matriz = [ [1, 2, 3],
           [4, 5, 6],
           [7, 8, 9] ]
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Tuplas
- Imutáveis

In [75]:
tupla = (1, 2, 3, 4)
print(tupla)

(1, 2, 3, 4)

### Dicionários

In [76]:
dicionario = { 'nome': 'Fulano', 'sobrenome': 'Da Silva' }
print(dicionario['nome'])
print(dicionario['sobrenome'])

Fulano
Da Silva

In [77]:
dicionario.keys()

dict_keys(['nome', 'sobrenome'])

In [78]:
dicionario.values()

dict_values(['Fulano', 'Da Silva'])

#### Merge de dicionários

In [79]:
x = {'a':1, 'b': 2}
y = {'b':10, 'c': 11}
x.update(y)
print(x)

{'a': 1, 'b': 10, 'c': 11}

### Pack e Unpack

In [80]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = zip(list1, list2)  # PACK
print(list3)
list4, list5 = zip(*list3)  # UNPACK
print(list4)
print(list5)

<zip object at 0x000002770F41FC48>
('a', 'b', 'c')
(1, 2, 3)

### Conjuntos (Sets)

Coleção de elementos distintos.

In [81]:
s = set([1, 2])
print(type(s))
print(s)
s.add(3)
s.add(3)
s.add(4)
print(s)
print(len(s))
print(2 in s) 
print(3 in s)

<class 'set'>
{1, 2}
{1, 2, 3, 4}
4
True
True

### Liberando espaço alocado para variáveis

In [82]:
a = [2, 4, 6, 8, 10]
print(a)
del(a)
print(a)

[2, 4, 6, 8, 10]

NameError: name 'a' is not defined

### Condições

In [84]:
valor = 99
if valor == 99:
    print ('veloz') 
elif value > 200:
    print ('muito veloz') 
else:
    print ('lento')

veloz

#### Operador ternário

In [85]:
x = 5
par_ou_impar = "par" if x % 2 == 0 else "impar"
print(par_ou_impar)

impar

### Laços / Loops

In [86]:
a = [1, 3, 4, 5, 7]
for i in a:
    print(i)

1
3
4
5
7

In [87]:
a = [1, 3, 4, 5, 7]
for indice, valor in enumerate(a):
    print(indice, valor)

0 1
1 3
2 4
3 5
4 7

In [89]:
for _ in range(5):
    print('oi')

oi
oi
oi
oi
oi

In [91]:
a = [2, 4, 6]
for i in range(len(a)):
    print ('indice:{}, valor:{}'.format(i, a[i]))

indice:0, valor:2
indice:1, valor:4
indice:2, valor:6

In [92]:
a = [2, 4, 6]
for indice, valor in enumerate(a):
    print ('indice:{}, valor:{}'.format(indice, valor))

indice:0, valor:2
indice:1, valor:4
indice:2, valor:6

In [93]:
x = 0
while x < 5:
    print (x)
    x += 1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (<ipython-input-93-330793b0aff9>, line 3)

In [ ]:
for x in xrange(10):
    if x == 3:
        continue
    if x == 5:
        break
    print x

In [ ]:
import itertools
a = [1, 2, 3]
b = [4, 5]
c = [6, 7, 8]
for a_, b_, c_ in itertools.product(a, b, c):
    print('a:{}, b:{}, c:{}'.format(a_, b_, c_))

### Funções

In [ ]:
def soma(a, b):
    return a + b

print(soma(3, 5))
print(soma('casa ', 'organizada'))

### Manipulação de Arquivos

In [ ]:
file = open('iris-dataset.txt')
print(file.name)
print(file.mode)
print(file.closed)
file.close()
print(file.closed)

## Próxima Aula
### Bibliotecas Python para Manipulação de Dados

06/10/2017

- **NumPy** - Computação numérica. Manipulação de arrays n-dimensionais de forma eficiente.
- **Matplotlib** - Visualização de Dados. Criação de gráficos 2D/3D.
- **pandas** - Ferramentas e estruturas de dados para facilitar a organização e análise dos dados.